.text-holder {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem 1rem;
}

.link {
	color: black;
	border: 1px solid black;
	padding: 0.5rem 1rem;
}
.link:hover {
	color: black;
	text-decoration: none;
	background-color: rgba(255, 255, 255, 0.52);
}

.content {
	margin-bottom: 1rem;
}

@media only screen and (max-device-width: 425px) {
	.content,
	.link {
		font-size: 0.9rem;
	}
}

@media only screen and (min-device-width: 426px) {
	.content,
	.link {
		font-size: 1rem;
	}
}
