.CTA,
.hashtag {
	text-align: center;
}

.CTA {
	margin-bottom: 1rem;
}

.hashtag {
	letter-spacing: 0.1rem;
}

.holder {
	background-color: #e7eaec;
	padding: 1rem;
	padding-bottom: 2rem;
}

.link,
.link:hover {
	color: black;
	letter-spacing: 0.1rem;
}

.image-holder {
	display: flex;
	justify-content: center;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 370px) {
	.image-1 {
		padding: 0;
	}
	.image-2,
	.image-3,
	.image-4 {
		display: none;
	}
}

@media only screen and (min-device-width: 370px) and (max-device-width: 576px) {
	.image-1 {
		padding: 0rem 1rem;
	}
	.image-2,
	.image-3,
	.image-4 {
		display: none;
	}

	.instagram {
		padding: 0rem 3rem;
	}
}
@media only screen and (min-device-width: 577px) and (max-device-width: 769px) {
	.image-3,
	.image-4 {
		display: none;
	}

	.image-1,
	.image-2 {
		padding: 0rem 2rem;
	}
}

@media only screen and (min-device-width: 770px) and (max-device-width: 1024px) {
	.image-4 {
		display: none;
	}
}
