@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;500;600;700&family=Open+Sans&display=swap');

.layout {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-family: 'Muli', sans-serif;
}
