.menu-holder {
	display: flex;
	justify-content: center;
}

.menu {
	border: 1px solid black;
	text-align: center;
	display: block;
}

.link {
	color: black;
	margin-bottom: 1rem;
}

.link:hover {
	color: black;
}
