.menu-holder {
	display: flex;
	justify-content: center;
	margin-top: -5.4rem;
}

.menu {
	border: 1px solid black;
	text-align: center;
	display: block;
}

.link {
	color: black;
	margin-bottom: 1rem;
}

.link:hover {
	color: black;
}

.loading {
	text-align: center;
}

.title {
	margin-top: 1rem;
}

@media only screen and (max-device-width: 576px) {
	.title {
		text-align: left;
	}
}
