/* .product-slider {
	display: flex;
} */

.slider {
	padding: 0;
}

.button-group {
	display: flex;
	justify-content: space-between;
	align-items: center;

	background-color: rgba(0, 0, 0, 0.315);
	padding: 0;
}

.btn {
	outline: none;
	background-color: rgba(255, 255, 255, 0.582);
	cursor: pointer;
	border: none;
	color: black;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	display: flex;
}

.arrow {
	font-size: 1.4rem;
}

.h1 {
	color: white;
	text-align: center;
}

.p {
	text-align: center;
	margin: 0;
	color: white;
}

@media only screen and (max-device-width: 426px) {
	.h1 {
		letter-spacing: 0.4rem;
		font-size: 2.4rem;
	}

	.p {
		font-size: 1.2rem;
		letter-spacing: 0.1rem;
	}
}

@media only screen and (min-device-width: 427px) and (max-device-width: 577px) {
	.h1 {
		letter-spacing: 0.8rem;
		font-size: 2.8rem;
	}

	.p {
		font-size: 1.3rem;
		letter-spacing: 0.2rem;
	}
}

@media only screen and (min-device-width: 578px) and (max-device-width: 768px) {
	.h1 {
		letter-spacing: 1.4rem;
	}

	.p {
		font-size: 1.1rem;
		letter-spacing: 0.2rem;
	}
}
@media only screen and (min-device-width: 769px) and (max-device-width: 992px) {
	.h1 {
		font-size: 4rem;
	}

	.p {
		font-size: 1.3rem;
		letter-spacing: 0.2rem;
	}
}

@media only screen and (min-device-width: 993px) and (max-device-width: 1300px) {
	.h1 {
		font-size: 4rem;
	}

	.p {
		font-size: 1.3rem;
		letter-spacing: 0.2rem;
	}
}

@media only screen and (min-device-width: 1301px) {
	.h1 {
		font-size: 5rem;
	}

	.p {
		font-size: 1.4rem;
		letter-spacing: 0.3rem;
	}
}
